<section class="container">

  <form [formGroup]="form" (ngSubmit)="submitForm()">

    <app-client-form groupName="client" [form]="form.controls['client']"></app-client-form>
    <app-vehicle-form groupName="vehicle" [form]="form.controls['vehicle']"></app-vehicle-form>

    <hr>

    <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-outline-success">Volver</button>
      <button type="submit" class="btn btn-success">Siguiente</button>
    </div>

  </form>

</section>
